<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiveBetterApp"
        tools:targetApi="31">

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".ui.ReminderReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>


        <activity android:name=".ui.RegisterActivity"/>
        <activity android:name=".ui.CategorySummaryActivity"/>
        <activity android:name=".ui.AddExpenseActivity"/>
        <activity android:name=".ui.HomeActivity"/>
        <activity android:name=".ui.SetBudgetActivity" />
        <activity android:name=".ui.ViewExpensesActivity" />
        <activity android:name=".ui.SpendingGraphActivity" />
        <activity android:name=".ui.GoalTrackingActivity" />
        <activity android:name=".ui.GamificationActivity" />

    </application>

</manifest>



